<form [formGroup]="loginForm" (ngSubmit)="Login()">
  <div class="title-block">
    <h5 class="form-title">Sign In</h5>
    <a class="link right" [routerLink]="['/public/sign-up']" >New user ?</a>
  </div>

  <tc-form-group>
    <tc-input [prefixIcon]="'icofont-ui-user'" [placeholder]="'Login'" formControlName="login"></tc-input>

    <ng-container *ngIf="login.invalid && (login.touched || login.dirty)">
      <span @fadeIn class="error" *ngIf="login.getError('required')">Please enter your login</span>
      <span @fadeIn class="error" *ngIf="login.getError('minlength')">Login must be at least 4 characters long</span>
    </ng-container>
  </tc-form-group>

  <tc-form-group>
    <tc-input [prefixIcon]="'icofont-lock'" [type]="'password'" [placeholder]="'Password'" formControlName="password"></tc-input>

    <ng-container *ngIf="password.invalid && (password.touched || password.dirty)">
      <span @fadeIn class="error" *ngIf="password.getError('required')">Please enter password</span>
      <span @fadeIn class="error" *ngIf="password.getError('minlength')">Password must be at least 5 characters long</span>
    </ng-container>
  </tc-form-group>

  <tc-form-group class="mt-1 d-flex justify-content-between align-items-center">
    <a [routerLink]="'/public/forgot-password'" class="link pl-sm-0">Forgot password ?</a>
    <button type="submit" tc-button [view]="'gradient'">Sign In</button>
  </tc-form-group>
</form>