<form>
  <div class="title-block d-flex-column mb-4">
    <h5 class="form-title">Reset your password</h5>

    <span class="desc">
      Enter your username or email address and we will send you a link to reset your password.
    </span>
  </div>

  <div class="elem-list lg">
    <tc-form-group class="email-input">
      <tc-input [prefixIcon]="'icofont-ui-email'" [placeholder]="'Email'" [formControl]="email"></tc-input>
  
      <ng-container *ngIf="email.invalid && (email.touched || email.dirty)">
        <span @fadeIn class="error" *ngIf="email.getError('required')">Please enter your email</span>
        <span @fadeIn class="error" *ngIf="email.getError('email')">Enter valid email address</span>
      </ng-container>
    </tc-form-group>
  
    <button (click)="reset()" tc-button>Reset</button>
  </div>
</form>
