<div class="row">
  <div class="col-sm-12">
    <tc-card [title]="'List'" [tcShape]="'6px 6px 0 0 '" class="mb-0">
      <tc-list>
        <tc-list-item>
          <span tc-list-line>First item</span>
          <span tc-list-line>Secondary text</span>
        </tc-list-item>

        <tc-list-item>
          <span tc-list-line>Second item</span>
          <span tc-list-line>Secondary text</span>
        </tc-list-item>
      </tc-list>
    </tc-card>
    
    <tc-card [tcBgColor]="'#f3f3f3'" [tcShape]="'0 0 6px 6px'">
      <pre><code [highlight]="demoCode"></code></pre>
    </tc-card>
  </div>

  <div class="col-sm-12 col-md-6">
    <tc-card [title]="'Basic list'">
      <tc-list>
        <tc-list-item>
          <span tc-list-line>Billy Cole</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>Say something I’m giving up </span>
            <span>12:46</span>
          </div>
        </tc-list-item>

        <tc-list-item>
          <span tc-list-line>Ian Holm</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>It’s all about simplicity</span>
            <span>10:15</span>
          </div>
        </tc-list-item>

        <tc-list-item>
          <span tc-list-line>Anna Smith</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>Chocolate Cake exclusively</span>
            <span>9:38</span>
          </div>
        </tc-list-item>

        <tc-list-item>
          <span tc-list-line>James Holt</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>Say something I’m giving up</span>
            <span>9:05</span>
          </div>
        </tc-list-item>
      </tc-list>
    </tc-card>
  </div>

  <div class="col-sm-12 col-md-6">
    <tc-card [title]="'Timeline list'">
      <tc-list [timeline]="true">
        <tc-list-item>
          <tc-icon 
            tc-list-icon
            [padding]="'7px'"
            [tcShape]="500"
            [iconClass]="'icofont-search'"
            [tcColor]="'#fff'"
            [tcBgColor]="'#2fa7ff'"
          ></tc-icon>
          <span tc-list-line>Main text</span>
        </tc-list-item>

        <tc-list-item>
          <tc-icon 
            tc-list-icon 
            [padding]="'7px'"
            [tcShape]="500" 
            [tcColor]="'#fff'"
            [tcBgColor]="'#fc8b37'"
            [iconClass]="'icofont-dashboard'"
          ></tc-icon>
          <span tc-list-line>It’s all about simplicity</span>
        </tc-list-item>

        <tc-list-item>
          <tc-icon 
            tc-list-icon
            [padding]="'7px'"
            [tcShape]="500"
            [iconClass]="'icofont-external-link'"
            [tcColor]="'#fff'"
            [tcBgColor]="'#805aff'"
          ></tc-icon>
          <span tc-list-line>Chocolate Cake exclusively</span>
        </tc-list-item>

        <tc-list-item>
          <tc-icon 
            tc-list-icon
            [padding]="'7px'"
            [tcShape]="500"
            [iconClass]="'icofont-paper-plane'"
            [tcColor]="'#fff'"
            [tcBgColor]="'#4a505c'"
          ></tc-icon>
          <span tc-list-line>Say something I’m giving up </span>
        </tc-list-item>
      </tc-list>
    </tc-card>
  </div>

  <div class="col-sm-12 col-md-6">
    <tc-card [title]="'With images'" class="mb-md-0">
      <tc-list>
        <tc-list-item>
          <div class="avatar" tc-list-avatar><img src="assets/content/user-50-1.jpg" alt=""></div>
          <span tc-list-line>Billy Cole</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>Say something I’m giving up </span>
            <span>12:46</span>
          </div>
        </tc-list-item>

        <tc-list-item>
          <div class="avatar" tc-list-avatar><img src="assets/content/user-50-3.jpg" alt=""></div>
          <span tc-list-line>Ian Holm</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>It’s all about simplicity</span>
            <span>10:15</span>
          </div>
        </tc-list-item>

        <tc-list-item>
          <div class="avatar" tc-list-avatar><img src="assets/content/user-50-2.jpg" alt=""></div>
          <span tc-list-line>Anna Smith</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>Chocolate Cake exclusively</span>
            <span>9:38</span>
          </div>
        </tc-list-item>

        <tc-list-item>
          <div class="avatar" tc-list-avatar><img src="assets/content/user-50-4.jpg" alt=""></div>
          <span tc-list-line>James Holt</span>
          <div class="elem-list sm justify-content-between" tc-list-line>
            <span>Say something I’m giving up </span>
            <span>9:05</span>
          </div>
        </tc-list-item>
      </tc-list>
    </tc-card>
  </div>

  <div class="col-sm-12 col-md-6">
    <tc-card [title]="'Custom images size'" class="mb-0">
      <tc-list>
        <tc-list-item>
          <img [tcImageSize]="76" tc-list-avatar src="assets/content/user-76-1.jpg">

          <span tc-list-line>Main text</span>

          <div class="elem-list sm justify-content-between flex-wrap" tc-list-line>
            <span>Secondary text</span>
            <tc-badge [size]="'xs'" [view]="'warning'">Done</tc-badge>
          </div>
        </tc-list-item>

        <tc-list-item>
          <div class="avatar" [tcImageSize]="76" tc-list-avatar><img src="assets/content/user-76-3.jpg" alt=""></div>
          <span tc-list-line>Ian Holm</span>

          <div class="elem-list sm justify-content-between flex-wrap" tc-list-line>
            <span>It's all about simplicity</span>
            <tc-badge [size]="'xs'" [view]="'error'">Sent</tc-badge>
          </div>
        </tc-list-item>

        <tc-list-item>
          <div class="avatar" [tcImageSize]="76" tc-list-avatar><img src="assets/content/user-76-2.jpg" alt=""></div>
          <span tc-list-line>Anna Smith</span>

          <div class="elem-list sm justify-content-between flex-wrap" tc-list-line>
            <span>Chocolate Cake exclusively</span>
            <tc-badge [size]="'xs'" [view]="'success'">New</tc-badge>
          </div>
        </tc-list-item>
      </tc-list>
    </tc-card>
  </div>
</div>
