<div class="row">
  <div class="col-xl-9 col-lg-8 col-sm-12">
    <div class="row" *ngIf="groups.length">
      <div class="col-xl-4 col-lg-6 col-sm-6 col-12" *ngFor="let group of groups; let i = index">
        <tc-group
          [group]="group"
          [ngClass]="{ 'mb-xl-0': 4 > groups.length - i, 'mb-lg-0': 3 >  groups.length - i }"
        ></tc-group>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-4 col-sm-12">
    <tc-card class="mb-0">
      <div class="menu-block mb-4">
        <div class="title-block">
          <h3 class="title mt-0 mb-4" [tcFontSize]="16">Popular groups</h3>
        </div>

        <ul class="group-menu p-0 m-0 d-flex flex-column" *ngIf="groups.length">
          <li
            *ngFor="let group of popularGroups; let i = index"
            class="d-flex align-items-center justify-content-start my-2"
          >
            <tc-avatar
              [src]="group.avatar"
              [bgColor]="group.bg"
              [initials]="group.title[0]"
            ></tc-avatar>

            <div class="d-flex flex-column">
              <a href="#" [tcColor]="['rgb(75, 81, 93)', '#2fa7ff']">
                <span class="font-weight-bold">{{ group.title }}</span>
              </a>

              <span [tcFontSize]="11" [tcColor]="'rgba(75, 81, 93, 0.5)'">{{ group.members }} members</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="menu-block mb-4">
        <div class="title-block">
          <h3 class="title mt-0 mb-4" [tcFontSize]="16">Groups by position</h3>
        </div>

        <ul class="group-menu p-0 m-0 d-flex flex-column" *ngIf="groups.length">
          <li 
            *ngFor="let group of groupPositions" 
            class="d-flex align-items-center justify-content-between my-2"
          > 
            <a class="d-flex justify-content-between w-100" [tcColor]="['rgb(75, 81, 93)', '#2fa7ff']">
              <span>{{ group.name }}</span>
              <span [tcColor]="'rgba(75, 81, 93, 0.5)'">{{ group.num }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="menu-block">
        <div class="title-block">
          <h3 class="title mt-0 mb-4" [tcFontSize]="16">Groups by location</h3>
        </div>

        <ul class="group-menu p-0 m-0 d-flex flex-column" *ngIf="groups.length">
          <li 
            *ngFor="let group of groupLocations; let last = last" 
            class="d-flex align-items-center justify-content-between my-2"
            [ngClass]="{ 'mb-0': last }"
          > 
            <a class="d-flex justify-content-between w-100" [tcColor]="['rgb(75, 81, 93)', '#2fa7ff']">
              <span>{{ group.name }}</span>
              <span [tcColor]="'rgba(75, 81, 93, 0.5)'">{{ group.num }}</span>
            </a>
          </li>
        </ul>
      </div>
    </tc-card>
  </div>
</div>
