@import '../../../../../assets/sass/variables';

:host {
  .icon-wrapper {
    position: relative;
    padding: 0 30px;

    .tc-icon {
      opacity: .6;
      position: absolute;
      top: -8px;
      transition: opacity $animation .2s;

      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
      &.highlighted {
        opacity: 1;
      }
    }
  }
  .vertical-sliders {
    height: 296px;
    display: flex;
    justify-content: space-around;

    .vertical-slider {
      height: 296px;
    }
  }
}
