@import '../../../../../assets/sass/variables';

:host {
  .title-box {
    .title {
      letter-spacing: .1px;
      font-size: 1.9em;
      font-weight: bold;
    }
  }
  .info-block {
    margin-bottom: $module-rem * 4;

    .title {
      font-weight: 400;
      margin-bottom: $module-rem;
    }
    .info-label {
      color: $main-color;
      letter-spacing: .4px;
    }
  }
  .number {
    opacity: .4;
  }
  .icon {
    cursor: pointer;
    opacity: .4;
    font-size: 2em;
    margin-left: $module-rem * 4;
    transition: opacity .2s $animation;
    
    &:hover {
      opacity: 1;
    }
  }
  .label {
    min-width: 90px;
    font-weight: 500;
    letter-spacing: .4px;
  }
  .value {
    letter-spacing: .4px;
  }
  .divider {
    margin-bottom: $module-rem * 3;
  }
}