<tc-card class="mb-0">
  <div class="title-box">
    <h5 class="title">
      Invoice #INV-17
    </h5>
  </div>

  <hr>

  <div class="row info-block">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="sender">
        <h5 class="title">Invoice from</h5>

        <div class="info">
          <span class="info-label">{{ senderName }}</span><br>
          <span class="info-label">{{ senderAddress }}</span> <br>
          <span class="info-label">{{ senderCity }}</span> <br>
          <span class="info-label">{{ senderFax }}</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
      <h5 class="title">Invoice to</h5>

      <div class="info">
        <span class="info-label">{{ customerName }}</span><br>
        <span class="info-label">{{ customerAddress }}</span> <br>
        <span class="info-label">{{ customerCity }}</span> <br>
        <span class="info-label">{{ customerFax }}</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
      <h5 class="title">Invoice Date</h5>

      <div class="info">
        <span class="info-label">{{ invoiceDate }}</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
      <h5 class="title">Due to</h5>

      <div class="info">
        <span class="info-label">{{ dueTo }}</span>
      </div>
    </div>
  </div>

  <tc-table [rows]="invoice" *ngIf="vat && total" class="mb-5">
    <tc-table-col [columnTitle]="'#'" [columnName]="'#'">
      <ng-template #tableTDTemplate let-value>
        <span class="number">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [padding]="'24px 15px'"  [columnTitle]="'GROUP NAME'" [columnName]="'groupName'">
      <ng-template #tableTDTemplate let-value>
        <ng-container *ngIf="value !== 'total'; else subtotal">
          {{ value }}
        </ng-container>

        <ng-template #subtotal>
          <div class="d-flex flex-column">
            <div class="d-flex mb-2">
              <span class="label">Subtotal</span>
              <span class="value">${{ total }}</span>
            </div>

            <div class="d-flex">
              <span class="label">Vat</span>
              <span class="value">${{ vat }}</span>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'QUANTITY'" [columnName]="'quantity'"></tc-table-col>

    <tc-table-col [columnTitle]="'COST'" [columnName]="'cost'">
      <ng-template #tableTDTemplate let-value>
        <ng-container *ngIf="value !== 'total'; else totalCost">
          ${{ value }}
        </ng-container>

        <ng-template #totalCost>
          <span class="label">Total</span>
        </ng-template>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'TOTAL'" [columnName]="'total'">
      <ng-template #tableTDTemplate let-value let-row="row">
        <ng-container *ngIf="!value; else grandtotal">
          <span>${{ row['quantity'] * row['cost'] }}</span>
        </ng-container>

        <ng-template #grandtotal>
          <span class="value" [tcFontSize]="30"><strong>${{ total + vat }}</strong></span>
        </ng-template>
      </ng-template>
    </tc-table-col>
  </tc-table>

  <div class="d-flex align-items-center justify-content-end elem-list">
    <i class="icofont-print icon"></i>
    <button tc-button [view]="'info'">Send Invoice</button>
  </div>
</tc-card>