@import '../../../../../assets/sass/variables';

:host {
  .title-box {
    .title {
      letter-spacing: .1px;
      font-size: 1.9em;
      font-weight: bold;
    }
  }
  .info {
    .title {
      font-weight: 500;
    }
    .info-label {
      color: $main-color;
      letter-spacing: .4px;
    }
  }
  .number {
    opacity: .4;
  }
  .icon {
    cursor: pointer;
    opacity: .4;
    font-size: 2em;
    margin-left: $module-rem * 4;
    transition: opacity .2s $animation;
    
    &:hover {
      opacity: 1;
    }
  }
  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($module-rem * 2) $module-rem * 4;

    @media #{$max767} {
      padding: $module-rem * 2;
    }
    .sub-total {
      font-weight: bold;
      margin: -$module-rem;

      >* {
        margin: $module-rem;
      }
    }
    .grand-total {
      align-items: center;
      font-size: 2.2em;
      justify-content: space-between;
      font-weight: bold;
      display: flex;
      width: 30%;

      .label {
        font-size: 16px;
      }
    }
  }
}